extends layout.pug

block content
  .ui.raised.fluid.card
    .content
      .header Cute Cat
      .meta
        .right.floated.time today
        .category general
      .description
          p first post not db!
    .extra.content
      .right.floated.author
        img.ui.avatar.image(src="/me.jpg") 
        div erich
