extends layout.pug

block content
  .ui.raised.fluid.card
    .content
      .header #{title}
      .meta
        .right.floated.time #{postDate}
        .category general
      .description
          p #{body}
    .extra.content
      .right.floated.author
        img.ui.avatar.image(src="/me.jpg") 
        div erich
