doctype html
html(lang="en")
  head
    title= "www.erichgrosner.com"
    link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="semantic/dist/semantic.min.js")
  body
    .ui.pointing.menu
      .header.item erichgrosner.com
      a.active.item(href='/') home
      a.item(href='/about') about
      .right.menu
        a.item login
    .ui.grid.container
      .six.wide.column
        .ui.items
            .item
                .image
                    img(src='/me.jpg')
                .content
                    a.header about me
                    .meta
                        span cyclist; coffee consumer; developer;
                    .description
                        p this is my playground on the internet.
                    .extra
      .ten.wide.column
        block content
    p (c) erich grosner